<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>About Me</title>
        <link rel="stylesheet" href="../styles/aboutme.css">
    </head>

    <body>

 
        <div class="navbar">
            <a href="/login"><image src="../data/logo.png" id="logo"></a>
            <a href="/login">Login</a>
            <a href="../templates/aboutme.html">About Me</a>
            <a href="../templates/contact.html">Contact Me</a>
        </div>


        <div class="intro">
            <img src="../data/portrait.png" id="portrait">
            <p>My name is Haiwen Zhang. I am from China. I earned my banchelor of Science in Computer Engineering degree from Purdue University. I am Pursueing Mater of Science in Computer Engineering degree from Columbia University.</p>
        </div>



    </body>

</html>
