<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>About Me</title>
        <link rel="stylesheet" href="../styles/contact.css">
    </head>

    <body>


        <div class="navbar">
            <a href="/login"><image src="../data/logo.png" id="logo"></a>
                <a href="/login">Login</a>
                <a href="../templates/aboutme.html">About Me</a>
                <a href="../templates/contact.html">Contact Me</a>
        </div>

        <div class="intro">
            <p>Email: zhan3237@purdue.edu </p>
            <p>TEL: 765- 775 9633</p>
        </div>



    </body>

</html>
