<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>My Posts</title>
		<link rel = "stylesheet" href = "../styles/myposts.css">
	</head>

	<body>
		<div class="navbar">
            <a href="/{{user_hash}}/feed"><image src="../data/logo.png" id="logo"></a>
			<a href="/{{user_hash}}/feed">Main Page</a>
			<a href="/{{user_hash}}/aboutme">About Me</a>
			<a href="/{{user_hash}}/contact">Contact Me</a>
			<a href="/{{user_hash}}/create">Make a Post</a>
			<a href="/{{user_hash}}/myposts">My Posts</a>
        </div>

		<div id="container">
			<div class="post">
				{% if posts|length %}
				<a class="yourposts">Your Posts:</a>
				{% else %}
				<a href="/{{user_hash}}/create" class="no_post">You don't have a post yet, make a post now!</a>
				{% endif %}
			</div>

			{% for post in posts %}
			<div class="singlepost">
				<a id="title" href="/posts/{{post[0]}}" >{{post[1]}}</a>
				<p id="content">{{post[2]}}</p>
				<a class="vote">UP: {{post[3]}}</a>
				<a class="vote">DOWN: {{post[4]}}</a>
				<form method="post"  name="form">
					<input type="hidden" value="{{post[0]}}" name="post_id"></input>
					<input type="submit" id="delete" name="delete" value="DELETE"></input>
					<a id="datetime">Created at: {{post[6]}}   |   </a>
					<a id="post_id" href="/posts/{{post[0]}}">Post ID: {{post[0]}}</a>
				</form>
			</div>
			{% endfor %}

		</div>

		<div class="pagnition">
			{{pagination.links}}
		</div>

	</body>
</html>