<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project</title>
		<link rel = "stylesheet" href = "../styles/project.css">
	</head>
	<body>

        <li>
            <a href="/Project/A1 - Final Project Proposal.docx">Final Project Proposal</a>
            <a href="/Project/A2 - Functional Specification.docx">Functional Specification</a>
            <a href="/Project/A3 - Software Overview.docx">Software Overview</a>
            <a href="/Project/A4 - Electrical_Overview.docx">Electrical_Overview</a>
            <a href="/Project/A5 - Mechanical Overview.docx">Mechanical Overview</a>
            <a href="/Project/A6 - Component Analysis.docx">Component Analysis</a>
            <a href="/Project/A7 - Bill of Materials.docx">Bill of Materials</a>
            <a href="/Project/A8 - Software Formalization.docx">Software Formalization</a>
            <a href="/Project/A9 - Legal and Regulatory Analysis.docx">Legal and Regulatory Analysis</a>
            <a href="/Project/A10 - Reliability and Safety Analysis.docx">Reliability and Safety Analysis</a>
            <a href="/Project/A11 - Ethical and Environmental Analysis.docx">Ethical and Environmental Analysis</a>
            <a href="/Project/A12 - User Manual.docx">User Manual</a>
            <a href="/Project/A13 - ABET Senior Design Report.docx">Design Report</a>
            <a href="/Project/PCB.pdf">PCB</a>

        </li>

	</body>

</html>