body{
	background: url(../data/new.jpg);
	height: 1500px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: rgba(60, 86, 99, 0.3);
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
	font-family: Sans-serif;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#logo{
	width: 16px;
	height:16px;
}

.vote{
    background-color: rgb(44, 51, 58);
    border-radius: 5px;
    color: white;
    height: 40px;
    font-style: bold;
    border-style: none;
    font-family: Sans-serif;
    transition: all 500ms ease;
}

.vote:hover{
    background-color:rgba(22, 65, 104, 0.5);
    box-shadow: 1px 1px 5px 3px rgb(47, 56, 58, 0.7);
}

.post{
    margin-top: 100px;
}

#title{
    font-weight: bold;
    font-size: 30px;
    color: black;
    transition: all 500ms ease;
}

#title:hover{
    color:rgba(60, 86, 99, 0.3);
}

#content{
    font-size: 20px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.singlepost{
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
	width: 50%;
    border-style: none;
    background: linear-gradient(to left bottom, rgba(96, 114, 119, 0.7),rgba(114, 141, 150, 0.4));
    padding: 20px;
    font-family: Cursive;
    transition: all 500ms ease;
}

.singlepost:hover{
    padding: 30px;
}

.info{
    font-size: 10px;
    margin-top:20px;
}

ul{
    margin-top: 50px;
    list-style:none;
    font-family: Cursive;
    font-size: 20px;
    font-weight: 1000;
    background: linear-gradient(to left bottom, rgba(96, 114, 119, 0.7),rgba(114, 141, 150, 0.4));
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul li{
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
    transition: all 500ms ease;
}


ul li:not(:last-child) {
    border-right: 0px solid black;
  }

